debug/
target/

.DS_Store
**/*.rs.bk
*.pdb
*.dot
/target
/bazel-bin
/bazel-rustfmt-ignore
/bazel-out
/bazel-testlogs
/rules_rust
/docs
rust-project.json
.DS_Store
user.bazelrc

*.bak

.vscode/settings
